name: Build

permissions:
  contents: read

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build-unix-v6:
    name: Build matushorvath/unix-v6
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Build
        working-directory: unix-v6
        run: make

  build-211bsd:
    name: Build matushorvath/2.11bsd
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Build
        working-directory: 2.11bsd
        run: make
