name: Build Unix v6

permissions:
  contents: read

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Build Docker
        working-directory: unix-v6
        run: make
