name: Build

permissions:
  contents: read

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    name: Build Images
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Lint sources
        run: make lint

      - name: Build PDP11
        uses: docker/build-push-action@v6
        with:
          target: pdp11
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build Unix v6
        uses: docker/build-push-action@v6
        with:
          target: pdp11-unix-v6
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build 2.11BSD
        uses: docker/build-push-action@v6
        with:
          target: pdp11-2.11bsd
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build 2.11BSD with httpd
        uses: docker/build-push-action@v6
        with:
          target: pdp11-2.11bsd-httpd
          cache-from: type=gha
          cache-to: type=gha,mode=max
