name: Build

permissions:
  contents: read

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    name: Build Images
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Build PDP11
        run: make pdp11

      - name: Build Unix v6
        run: make unix-v6

      - name: Build 2.11BSD
        run: make 2.11bsd

      - name: Build 2.11BSD w/ httpd
        run: make 2.11bsd-httpd
