name: Unix v6

permissions:
  contents: read

on:
  pull_request:
  push:
    branches:
      - main
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
  workflow_dispatch:

jobs:
  build:
    name: Build Unix v6
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Build Docker
        working-directory: unix-v6
        run: make

  publish:
    name: Publish Unix v6
    runs-on: ubuntu-latest
    needs: build
    if: startsWith(github.ref, 'refs/tags/v')

    steps:
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push image
        uses: docker/build-push-action@v6
        with:
          context: "{{defaultContext}}:unix-v6"
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/unix-v6:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/unix-v6:${{ github.ref_name }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
